[Desktop Entry]
Version=0.1.0-git
Type=Application
Name=PasswordMaker
Comment=PasswordMaker Slint
TryExec=passwordmaker_slint
Exec=passwordmaker_slint
Icon=ring-256x256.png