[Desktop Entry]
Version=0.1.0-git
Type=Application
Name=PasswordMaker
Comment=PasswordMaker Slint
TryExec=passwordmaker-slint
Exec=passwordmaker-slint
Icon=ring-256x256.png